<a href="https://colab.research.google.com/github/JulioCesarMS/R_course/blob/master/5.-%20Lectura%20de%20datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> **Lectura de datos en R**

# **Lectura de datos**

> **Archivos más comunes:**

- read.csv() 
- read.csv2()
- read.delim()
- read_excel()
- Lectura de archivos JSON
- Lectura de archivos XML
- Lectura de tablas HTML

> **Lectura de otros formatos:**

- Lectura de archivos SPSS
- Lectura de archivos SAS
- Lectura de archivos Minitab

# **read_csv()**

In [ ]:
df1 <- read.csv('./iris.csv')
head(df1)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 6.3          3.3         6.0          2.5         virginica
2 5.8          2.7         5.1          1.9         virginica
3 7.1          3.0         5.9          2.1         virginica
4 6.3          2.9         5.6          1.8         virginica
5 6.5          3.0         5.8          2.2         virginica
6 7.6          3.0         6.6          2.1         virginica

In [ ]:
dim(df1)

[1] 50  5

In [ ]:
summary(df1)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.900   Min.   :2.200   Min.   :4.500   Min.   :1.400
 1st Qu.:6.225   1st Qu.:2.800   1st Qu.:5.100   1st Qu.:1.800
 Median :6.500   Median :3.000   Median :5.550   Median :2.000
 Mean   :6.588   Mean   :2.974   Mean   :5.552   Mean   :2.026
 3rd Qu.:6.900   3rd Qu.:3.175   3rd Qu.:5.875   3rd Qu.:2.300
 Max.   :7.900   Max.   :3.800   Max.   :6.900   Max.   :2.500
   Species
 Length:50
 Class :character
 Mode  :character

Por defecto al leer un archivo supone que tiene encabezados, sino es el caso podemos especificar en la función <span style="color:blue"> **read.csv()** </span> los encabezados agregando el algumento <span style="color:blue"> **header=FALSE**</span>.

In [ ]:
df2 <- read.csv('./iris.csv', header=TRUE)
head(df2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 6.3          3.3         6.0          2.5         virginica
2 5.8          2.7         5.1          1.9         virginica
3 7.1          3.0         5.9          2.1         virginica
4 6.3          2.9         5.6          1.8         virginica
5 6.5          3.0         5.8          2.2         virginica
6 7.6          3.0         6.6          2.1         virginica

In [ ]:
colnames(df2) <- c('Sepalo.L', 'Sepalo.W', 'Petalo.l', 'Sepal.w', 'Especie')
head(df2)

  Sepalo.L Sepalo.W Petalo.l Sepal.w Especie
1 6.3      3.3      6.0      2.5     virginica
2 5.8      2.7      5.1      1.9     virginica
3 7.1      3.0      5.9      2.1     virginica
4 6.3      2.9      5.6      1.8     virginica
5 6.5      3.0      5.8      2.2     virginica
6 7.6      3.0      6.6      2.1     virginica

Si queremos especificar los nombres de encabezados podemos utilizar el argumento <span style="color:blue"> **col.names** </span>.

In [ ]:
df3 <- read.csv('./iris.csv', 
                header=TRUE, 
                col.names=c('Sepalo.L', 'Sepalo.W', 'Petalo.l', 'Sepal.w', 'Especie'))
head(df3)

  Sepalo.L Sepalo.W Petalo.l Sepal.w Especie
1 6.3      3.3      6.0      2.5     virginica
2 5.8      2.7      5.1      1.9     virginica
3 7.1      3.0      5.9      2.1     virginica
4 6.3      2.9      5.6      1.8     virginica
5 6.5      3.0      5.8      2.2     virginica
6 7.6      3.0      6.6      2.1     virginica

> Para guardar en formato csv empleamos la función <span style="color:blue"> **write.csv()** </span>, indicando el objeto a guardar y la ruta con el nombre del archivo.

In [ ]:
write.csv(df3, 'iris_new.csv', row.names=FALSE)

# Lectura de archivo CSV separado por ;

In [ ]:
# csv separado poR ;
df4 <- read.csv('iris2.csv', sep=';')
head(df4)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
dim(df4)

[1] 150   5

In [ ]:
# csv separado por "-"
df5 <- read.csv('iris3.csv', sep="-")
head(df5)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

> ### read_excel()

In [ ]:
library("readxl")

Por defecto al leer un archivo de excel nos lee únicamente la primera hoja.

> *read_excel(path, sheet = 1, col_names = TRUE, col_types = NULL, na = "", skip = 0)*


**Argumentos**:

- **path** : Ruta del archivo xls/xlsx
- **sheet** : Puede ser una cadena (el nombre de una hoja), o un número entero (la posición de la hoja). Por defecto es la primera hoja.
- **col_names** : *TRUE* para utilizar la primera fila como nombres de columnas, *FALSE* para numerar las columnas secuencialmente de *X1* a *Xn*, o bien un vector de caracteres que da un nombre a cada columna.
- **col_types** :  O bien *NULL* para adivinar desde la hoja de cálculo o un vector de caracteres que contenga "blank", "numeric", "date" o "text".
- **na** : Valor faltante. Por defecto, readxl convierte las celdas en blanco en datos perdidos. Establezca este valor si ha utilizado un valor centinela para los valores perdidos.
- **skip** :  Número de filas a saltar antes de leer cualquier dato.

In [ ]:
df6 <- read_excel("iris.xlsx",sheet = 3)
head(df6)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 6.3          3.3         6.0          2.5         virginica
2 5.8          2.7         5.1          1.9         virginica
3 7.1          3.0         5.9          2.1         virginica
4 6.3          2.9         5.6          1.8         virginica
5 6.5          3.0         5.8          2.2         virginica
6 7.6          3.0         6.6          2.1         virginica

> Si deseamos consolidar todas las hojas de un archivo de excel en un único data frame, podemos emplear lo aprendido sobre programación para automatizar esa tarea.

In [ ]:
# función para unir archivos xlsx
union_files <- function(file, n_sheets){
  
  df_list <- list()
  for(i in 1:n_sheets){
    df_list[[i]] <- read_excel(file,sheet = i)
  }
  df_full <- do.call('rbind', df_list)

  return(df_full)
}

In [ ]:
df_full <- union_files(file='iris.xlsx', n_sheets=3)
head(df_full)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
unique(df_full$Species)

[1] "setosa"     "versicolor" "virginica"

In [ ]:
# código para consolidar varias hojas de excel en un sólo data frame
sheets = 1:3

for(i in 1:length(sheets)){
    if(i == 1){
        df_iris_1 <- read_excel("./datasets/iris.xlsx", sheet=i)
    }else{
        df_iris_n <- read_excel("./datasets/iris.xlsx", sheet=i)
        df_iris_1 <- rbind(df_iris_1, df_iris_n)
    }
}

In [ ]:
head(df_iris_1)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
dim(df_iris_1)

[1] 150   5

# **Read from the web (Datos de COVID-19 México)**

La información se encuentra disponible en la siguiente liga:  <a href="https://www.gob.mx/salud/documentos/datos-abiertos-152127">https://www.gob.mx/salud/documentos/datos-abiertos-152127</a>.

In [ ]:
# creación de un archivo temporal
temp <- tempfile()
# descargar archivo .zip al archivo temporal
download.file("https://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip",temp)
# lectura del archivo .csv deltro del .zip
unzip(temp)
# la siguiente linea funciona en colab
covid_mex <- read.csv('220706COVID19MEXICO.csv')
# la siguiente en R studio
# list.files() # para ver en memoria el archivo descargado
# covid_mex <- read.csv(llis_files()[1]) # el número de archivo
# remueve archivos temporales
unlink(temp)

In [ ]:
head(covid_mex)

  FECHA_ACTUALIZACION ID_REGISTRO ORIGEN SECTOR ENTIDAD_UM SEXO ENTIDAD_NAC
1 2021-07-05          z482b8      1      12      9         2     9
2 2021-07-05          z49a69      1      12     23         1    23
3 2021-07-05          z23d9d      1      12     22         2    24
4 2021-07-05          z24953      1      12      9         1     9
5 2021-07-05          zz8e77      1      12      9         2     9
6 2021-07-05          z1b0d1      1      12      1         1     1
  ENTIDAD_RES MUNICIPIO_RES TIPO_PACIENTE ... OTRO_CASO TOMA_MUESTRA_LAB
1  9          12            1             ...  2        2
2 23           4            2             ...  1        2
3 22           9            1             ...  2        2
4  9          10            1             ...  1        1
5  9           2            1             ...  2        2
6  1           3            1             ... 99        1
  RESULTADO_LAB TOMA_MUESTRA_ANTIGENO RESULTADO_ANTIGENO CLASIFICACION_FINAL
1 97            2                     97                 1
2 97            2                     97                 2
3 97            2                     97                 6
4  2            2                     97                 7
5 97            2                     97                 6
6  4            2                     97                 5
  MIGRANTE PAIS_NACIONALIDAD PAIS_ORIGEN UCI
1 99       MÃ©xico           97          97
2 99       MÃ©xico           97           1
3 99       MÃ©xico           97          97
4 99       MÃ©xico           97          97
5 99       MÃ©xico           97          97
6 99       MÃ©xico           97          97

# **Enfermedades Febriles Exantemáticas**

In [ ]:
# creación de un archivo temporal
temp <- tempfile()
# descarga de archivo .zip
download.file("https://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/efe/datos_abiertos_efe.zip",temp)
# lectura del archivo .csv deltro del .zip

unzip(temp)

In [ ]:
ef <- read.csv('20220704_Base DA_EFEs.csv')
head(ef)

  FECHA_ACTUALIZACION ID_REGISTRO EDAD_ANOS EDAD_MESES EDAD_DIAS SEXO
1 28/06/2022          22186       4          6         21        2
2 28/06/2022          22187       0         11         10        2
3 28/06/2022          22189       8          2         22        2
4 28/06/2022          22190       0         11         19        1
5 28/06/2022          22191       1          0         27        2
6 28/06/2022          22192       0          7         24        2
  HABLA_LENGUA_INDIG INDIGENA ENTIDAD_UM_NOTIF MUNICIPIO_UM_NOTIF ⋯
1 2                  2        12               29                 ⋯
2 2                  2        19               21                 ⋯
3 2                  2        19               46                 ⋯
4 2                  2        18               17                 ⋯
5 2                  2        25               12                 ⋯
6 2                  2         9                5                 ⋯
  INSTITUCION_NOTIF VACUNACION EXANTEMA FIEBRE COMPLICACIONES DEFUNCION
1 12                1          1        1      2              2
2 12                2          1        1      2              2
3 12                1          1        1      2              2
4  4                2          1        1      2              2
5  4                2          1        1      2              2
6 12                2          1        1      2              2
  DIAGNOSTICO CRITERIO_DIAGNOSTICO FECHA_DIAGNOSTICO ORIGEN_CASO
1 3           2                    10/01/2022        5
2 3           2                    06/01/2022        5
3 3           2                    06/01/2022        5
4 3           1                    07/03/2022        5
5 3           1                    18/05/2022        5
6 3           2                    11/01/2022        5

In [ ]:
dim(ef)

[1] 1186   22

# **Extraer tablas de la web**


Para mostrar un ejemplo vamos a considerar la página web del [Ranking de centros de investigación en México](https://research.webometrics.info/es/Latin_America_es/M%C3%A9xico).

In [ ]:
library(xml2)
library(rvest)

In [ ]:

url <- "https://research.webometrics.info/es/Latin_America_es/M%C3%A9xico" 
page <- read_html(url) 
page

{html_document}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" version="XHTML+RDFa 1.0" dir="ltr" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
[1] <head profile="http://www.w3.org/1999/xhtml/vocab">\n<!--start head secti ...
[2] <body class="marinelli html not-front not-logged-in one-sidebar sidebar-f ...

In [ ]:
table <- html_table(page, fill = TRUE) 
head(table[[1]])

  ranking World Rank
1 1       118
2 2       370
3 3       398
4 4       677
5 5       720
6 6       891
  Instituto                                                         Tamaño
1 Centro de Investigación y de Estudios Avanzados del IPN CINVESTAV  389
2 Instituto Nacional de Salud Pública                               1027
3 Consejo Nacional de Ciencia y Tecnología CONACYT México            582
4 Centro Internacional de Mejoramiento de Maíz y Trigo               527
5 Centro de Investigación y Docencia Económicas CONACYT              999
6 Colegio de la Frontera Sur CONACYT                                 472
  Visibilidad Fich. Ricos scholar
1  366          76         157
2  857         306         616
3  551        2538         137
4  482        2538         782
5  897         740        1740
6 1625         372        1873

# **Leer una tabla de un archivo pdf**

In [ ]:
install.packages("rJava")
library(rJava) # load and attach 'rJava' now
install.packages("devtools")
devtools::install_github("ropensci/tabulizer", args="--no-multiarch")

In [ ]:
library('tabulizer')
library('dplyr')
library('tidyr')
library('stringr')

In [ ]:
# Read JCR_2021
file <- extract_tables("JCR_2021.pdf",
             output = "data.frame",
             pages = 3:264,
             method = "stream")

In [ ]:
length(file)

[1] 262

In [ ]:
head(file[[2]])

  X96 Cell.Stem.Cell                     X32.147 X24.633 X0.062780
1  97 Lancet Digital Health              1,260   24.519  0.00300
2  98 Nature Chemistry                   41,139  24.427  0.06942
3  99 Annual Review of Psychology        28,065  24.137  0.01897
4  99 Annual Review of Psychology        28,065  24.137  0.01897
5  NA JOURNAL OF THE AMERICAN COLLEGE OF             NA       NA
6 101 CARDIOLOGY                         125,873 24.094  0.17700

In [ ]:
n <- length(file)
#completed <- NULL
for(i in 1:n){
    colnames(file[[i]]) <- c("n", "Journal", "Total Cites", "Impact Factor", "Eigenfactor Score" )
    #completed <- rbind(completed, file[[i]])
}
head(file[[5]])

  n   Journal                                         Total Cites Impact Factor
1 250 Annual Review of Marine Science                 5,492       13.850
2 251 TRENDS IN NEUROSCIENCES                         22,858      13.837
3 252 Annual Review of Cell and Developmental Biology 11,884      13.827
4 253 Annual Review of Pharmacology and Toxicology    9,016       13.820
5 254 TRENDS IN BIOCHEMICAL SCIENCES                  22,003      13.807
6 255 BRITISH JOURNAL OF SPORTS MEDICINE              30,986      13.800
  Eigenfactor Score
1 0.00720
2 0.01947
3 0.01110
4 0.00659
5 0.02576
6 0.04095

In [ ]:
full_df <- do.call('rbind', file)
head(full_df)

  n  Journal                            Total Cites Impact Factor
1 NA MATERIALS SCIENCE & ENGINEERING R-             NA
2 46 REPORTS                            8,652       36.214
3 47 NATURE REVIEWS NEUROSCIENCE        49,897      34.87
4 48 Nature Reviews Chemistry           5,750       34.035
5 49 Nature Electronics                 4,455       33.686
6 50 ANNALS OF ONCOLOGY                 61,542      32.976
  Eigenfactor Score
1      NA
2 0.00477
3 0.04889
4 0.01752
5 0.01448
6 0.11718

In [ ]:
dim(full_df)

[1] 15177     5

In [ ]:
# para guardar el archivo
write.csv(full_df, "JCR_2021.csv")